
backends/__pycache__/

backends/controllers/__pycache__/

backends/data/data_vec/X.npy

backends/data/data_vec/Y.npy

backends/data/employee_images/HA_THI_KIM_BIEN_2/

backends/data/employee_images/HOANG_NGOC_THANG_4/

backends/data/employee_images/HOANG_VAN_VUONG_5/

backends/data/employee_images/HOANGDINHTRONG_3/

backends/data/employee_images/LE_DUY_LONG_6/

backends/data/employee_images/LE_MANH_CUONG_7/

backends/data/employee_images/LE_THANH_XUAN_8/

backends/data/employee_images/LE_THI_HIEN_9/

backends/data/employee_images/LE_VAN_CUONG_10/

backends/data/employee_images/LE_VAN_DUNG_11/

backends/data/employee_images/LE_VAN_QUANG_12/

backends/data/employee_images/NGHIA_DAO_VAN_13/

backends/data/employee_images/NGO_HAI_LINH_14/

backends/data/employee_images/NGO_HOANG_ANH_15/

backends/data/employee_images/PHAN_DANG_HOANG_16/

backends/data/models/__pycache__/

backends/data/models/classifiers/best_weights.h5

backends/data/models/detections/mmod_human_face_detector.dat

backends/data/models/detections/shape_predictor_5_face_landmarks.dat

backends/data/models/detections/shape_predictor_68_face_landmarks.dat

backends/data/sounds/

backends/database/__pycache__/

backends/models/__pycache__/

backends/utils/__pycache__/

backends/utils/__init__.pyc

*.h5

/dist
/node_modules
/database/database.sqlite
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/flags
/public/fonts
/public/webfonts
/public/scss
/public/assets
/public/svg
/public/icons
/public/vendors
/public/public
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
